# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
.env/

# IDE folders
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Model and logs
models/
*.pkl
*.h5
*.log
*.csv

# Reports
reports/figures/